<section class="aca-event text-center">
    <div class="container">
        <table>
            <tr>
                <th></th>
                <th>Mã MH</th>
                <th>Tên môn học</th>
                <th>NMH</th>
                <th>TTH</th>
                <th>STC</th>
                <th>STCHP</th>
                <th>Mã lớp</th>
                <th>Sĩ số</th>
                <th>CL</th>
                <th>TH</th>
                <th>Thứ</th>
                <th>Tiết BD</th>
                <th>ST</th>
                <th>Phòng</th>
                <th>Giảng viên</th>
            </tr>
            <tr *ngFor="let clazz of clazzs;index as i">
                <td><input type="checkbox"></td>
                <td>{{courses[i].idCourse}}</td>
                <td>{{courses[i].nameCourse}}</td>
                <td></td>
                <td></td>
                <td>{{courses[i].courseCertificate}}</td>
                <td>{{courses[i].courseCertificate}}</td>
                <td>{{courseOfferings[i].clazzCode}}</td>
                <td>{{courseOfferings[i].maxSize}}</td>
                <td>{{courseOfferings[i].maxSize - courseOfferings[i].currentSize}}</td>
                <td>{{schedules[i].theoretical}}</td>
                <td>{{schedules[i].teachingDay}}</td>
                <td>{{schedules[i].startSlot}}</td>
                <td></td>
                <td>{{schedules[i].studyPlace}}</td>
                <td>{{schedules[i].idProfeesor}}</td>
            </tr>
        </table>
    </div>
</section>