<section class="rules-regulation">
    <div class="container">
        <div class="Rule-school">
            <h3>Secondary Schools</h3>
            <p>1. School year commences on the first of January and ends on the 31st of December of the year.</p>
            <h4> Age-limits</h4>
            <p>No pupil may be admitted to class IX of a Secondary School who has not attained the age of 12 years
                and pupils over 20 years of age shall not be allowed to remain on the rolls in class IX and X of a
                Secondary School, unless there are special reasons and his/her continuance in that class is
                permitted by the Board.</p>
            <p>3. (i) Ordinarily there shall be no first admission of boys and girls into Class IX of a Secondary
                School. In special circumstances application for first admission of pupils into Class IX should be
                submitted in duplicate in the form as prescribed by the Board by the parent or legal guardians to
                the Headmaster / Headmistress of the school where admission is sought, who shall forward to the
                Secretary of the Board a copy of the same within a week from the date of its receipt and in any case
                not later than 15th February of the year along with the following documents :</p>
            <p> (a) A certificate from a Gazetted Officer under his official seal to the effect that the boy/girl
                has not attended previously any school within or outside the territorial jurisdiction of the Board.
            </p>
            <p>(b) A certificate from the Headmaster / Headmistress of the school where admission is sought to the
                effect that the boy/girl is fit for admission into a particular class of his/her school noted by
                him/her on the form.</p>
            <h4>Admission Test</h4>
            <p>Every applicant for admission will be subject to a regular test of his/her fitness for the class to
                which admission is sought and he/she shall not be admitted unless the Headmaster /Headmistress is
                satisfied about the fitness of the pupil for the class.</p>
            <h4>Admission in same class as Transfer Certificate indicates</h4>
            <p>A pupil coming with a Transfer Certificate from another recognized school shall not be placed, on
                admission in a class higher than that which is equivalent to the class in which he/she was reading
                at his/her former school unless -</p>
            <p>(i) His/Her Transfer Certificate states that he/she has passed the annual examination for promotion,
                in which case he/she may be placed in the next higher class. If, however, it is found after,
                examination that he/she is not fit for that class, the Headmaster/ Headmistress may place him/her in
                the next lower class, i.e. the class in which he/she was reading in his/her former school.</p>
            <p>(ii) He has been absent from school for not less than one year and his parent or guardian can produce
                reliable proof that the pupil received adequate instruction during such absence from the school. In
                such a case, the Headmaster / Headmistress may place the pupil in a higher class, if, after an
                admission test, he/she finds that the pupil is fit for such higher class. The name of any pupil so
                dealt with should be indicated in the admission register by a red asterisk, and the date on which
                and the class into which he/she is admitted should also be re-written in red in the same register.
                Inspecting officer should give special attention to such pupil at the time of inspection. All such
                cases, however, shall be reported to the Board for record.</p>
        </div> <a
            href="http://www.educationboard.gov.bd/edb_rules_regulations_common_school_admission_transfer.php">For
            More Read</a>
    </div>
</section>
