<section class="aca-event text-center">
    <div class="container">
        <div class="fixTableHead">
            <table>
                <thead>
                    <tr>
                        <th>Mã MH</th>
                        <th>Tên môn học</th>
                        <th>NMH</th>
                        <th>TTH</th>
                        <th>STC</th>
                        <th>STCHP</th>
                        <th>Mã lớp</th>
                        <th>Sĩ số</th>
                        <th>CL</th>
                        <th>TH</th>
                        <th>Thứ</th>
                        <th>Tiết BD</th>
                        <th>ST</th>
                        <th>Phòng</th>
                        <th>Giảng viên</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="loading == true">
                        <ng-container *ngFor="let list of listTimeTableST;index as i"> 
                                    <tr>
                                        <td>{{list['courseDTO'].idCourse}}</td>
                                        <td>{{list['courseDTO'].nameCourse}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseOfferingDTO'].clazzCode}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize -
                                            list['courseOfferingDTO'].currentSize}}</td>
                                        <td>{{list['scheduleDTO'].theoretical}}</td>
                                        <td>{{list['scheduleDTO'].teachingDay}}</td>
                                        <td>{{list['scheduleDTO'].startSlot}}</td>
                                        <td></td>
                                        <td>{{list['scheduleDTO'].studyPlace}}</td>
                                        <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                    </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</section>