<section class="aca-event text-center">
    <div class="container">
        <!-- <div class="search">
            <span style="display:inline-block;width:110px;">Lọc mã môn học</span>
            <input type="text" style="margin-left: 15px;" #idMonHoc>
            <input type="button" value="Lọc >>" style="margin-left: 5px;" (click)="filterSubAvaiable(idMonHoc.value)">
            <button id="submit" (click)="submit()">Lưu Đăng Ký</button>
        </div> -->
        <div style="overflow:hidden;overflow-y: scroll;height: 350px;">
            <table>
                <tr>
                    <th></th>
                    <th>Mã MH</th>
                    <th>Tên môn học</th>
                    <th>NMH</th>
                    <th>TTH</th>
                    <th>STC</th>
                    <th>STCHP</th>
                    <th>Mã lớp</th>
                    <th>Sĩ số</th>
                    <th>CL</th>
                    <th>TH</th>
                    <th>Thứ</th>
                    <th>Tiết BD</th>
                    <th>ST</th>
                    <th>Phòng</th>
                    <th>Giảng viên</th>
                </tr>
                <ng-container *ngIf="loading == true">
                    <ng-container *ngFor="let list of listTimeTableST;index as i">
                        <ng-container *ngIf="i == 0">
                            <ng-container
                                *ngIf="listTimeTableST[i]['courseDTO'].idCourse != listTimeTableST[i+1]['courseDTO'].idCourse">
                                <tr>
                                    <!-- <td><input type="checkbox" #checked
                                            (change)="updateList(listTimeTableST[i]['scheduleDTO'].idSchedule,checked)">
                                    </td> -->
                                    <td>{{list['courseDTO'].idCourse}}</td>
                                    <td>{{list['courseDTO'].nameCourse}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{list['courseDTO'].courseCertificate}}</td>
                                    <td>{{list['courseDTO'].courseCertificate}}</td>
                                    <td>{{list['courseOfferingDTO'].clazzCode}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize -
                                        list['courseOfferingDTO'].currentSize}}</td>
                                    <td>{{list['scheduleDTO'].theoretical}}</td>
                                    <td>{{list['scheduleDTO'].teachingDay}}</td>
                                    <td>{{list['scheduleDTO'].startSlot}}</td>
                                    <td></td>
                                    <td>{{list['scheduleDTO'].studyPlace}}</td>
                                    <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                </tr>
                            </ng-container>
                            <ng-container
                                *ngIf="listTimeTableST[i]['courseDTO'].idCourse == listTimeTableST[i+1]['courseDTO'].idCourse">
                                <tr>
                                    <!-- <td rowspan="2"><input type="checkbox" #checked
                                            (change)="updateList(listTimeTableST[i]['scheduleDTO'].idSchedule,checked)">
                                    </td> -->
                                    <td rowspan="2">{{list['courseDTO'].idCourse}}</td>
                                    <td rowspan="2">{{list['courseDTO'].nameCourse}}</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                    <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                    <td rowspan="2">{{list['courseOfferingDTO'].clazzCode}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize -
                                        list['courseOfferingDTO'].currentSize}}</td>
                                    <td>{{list['scheduleDTO'].theoretical}}</td>
                                    <td>{{list['scheduleDTO'].teachingDay}}</td>
                                    <td>{{list['scheduleDTO'].startSlot}}</td>
                                    <td></td>
                                    <td>{{list['scheduleDTO'].studyPlace}}</td>
                                    <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="i > 0 && i < listTimeTableST.length - 1">
                            <ng-container
                                *ngIf="listTimeTableST[i]['courseDTO'].idCourse == listTimeTableST[i-1]['courseDTO'].idCourse">
                                <tr>
                                    <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize -
                                        list['courseOfferingDTO'].currentSize}}</td>
                                    <td>{{list['scheduleDTO'].theoretical}}</td>
                                    <td>{{list['scheduleDTO'].teachingDay}}</td>
                                    <td>{{list['scheduleDTO'].startSlot}}</td>
                                    <td></td>
                                    <td>{{list['scheduleDTO'].studyPlace}}</td>
                                    <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                </tr>
                            </ng-container>
                            <ng-container
                                *ngIf="listTimeTableST[i]['courseDTO'].idCourse != listTimeTableST[i-1]['courseDTO'].idCourse && listTimeTableST[i]['courseDTO'].idCourse == listTimeTableST[i+1]['courseDTO'].idCourse">
                                <!-- <td rowspan="2"><input type="checkbox" #checked
                                        (change)="updateList(listTimeTableST[i]['scheduleDTO'].idSchedule,checked)">
                                </td> -->
                                <td rowspan="2">{{list['courseDTO'].idCourse}}</td>
                                <td rowspan="2">{{list['courseDTO'].nameCourse}}</td>
                                <td rowspan="2"></td>
                                <td rowspan="2"></td>
                                <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                <td rowspan="2">{{list['courseOfferingDTO'].clazzCode}}</td>
                                <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                <td>{{list['courseOfferingDTO'].maxSize -
                                    list['courseOfferingDTO'].currentSize}}</td>
                                <td>{{list['scheduleDTO'].theoretical}}</td>
                                <td>{{list['scheduleDTO'].teachingDay}}</td>
                                <td>{{list['scheduleDTO'].startSlot}}</td>
                                <td></td>
                                <td>{{list['scheduleDTO'].studyPlace}}</td>
                                <td>{{list['scheduleDTO'].idProfeesor}}</td>
                            </ng-container>
                            <ng-container
                                *ngIf="listTimeTableST[i]['courseDTO'].idCourse != listTimeTableST[i-1]['courseDTO'].idCourse && listTimeTableST[i]['courseDTO'].idCourse != listTimeTableST[i+1]['courseDTO'].idCourse">
                                <!-- <td><input type="checkbox" #checked
                                        (change)="updateList(listTimeTableST[i]['scheduleDTO'].idSchedule,checked)">
                                </td> -->
                                <td>{{list['courseDTO'].idCourse}}</td>
                                <td>{{list['courseDTO'].nameCourse}}</td>
                                <td></td>
                                <td></td>
                                <td>{{list['courseDTO'].courseCertificate}}</td>
                                <td>{{list['courseDTO'].courseCertificate}}</td>
                                <td>{{list['courseOfferingDTO'].clazzCode}}</td>
                                <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                <td>{{list['courseOfferingDTO'].maxSize -
                                    list['courseOfferingDTO'].currentSize}}</td>
                                <td>{{list['scheduleDTO'].theoretical}}</td>
                                <td>{{list['scheduleDTO'].teachingDay}}</td>
                                <td>{{list['scheduleDTO'].startSlot}}</td>
                                <td></td>
                                <td>{{list['scheduleDTO'].studyPlace}}</td>
                                <td>{{list['scheduleDTO'].idProfeesor}}</td>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="i == listTimeTableST.length - 1">
                            <ng-container
                                *ngIf="listTimeTableST[i]['courseDTO'].idCourse != listTimeTableST[i-1]['courseDTO'].idCourse">
                                <tr>
                                    <!-- <td><input type="checkbox" #checked
                                            (change)="updateList(listTimeTableST[i]['scheduleDTO'].idSchedule,checked)">
                                    </td> -->
                                    <td>{{list['courseDTO'].idCourse}}</td>
                                    <td>{{list['courseDTO'].nameCourse}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{list['courseDTO'].courseCertificate}}</td>
                                    <td>{{list['courseDTO'].courseCertificate}}</td>
                                    <td>{{list['courseOfferingDTO'].clazzCode}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize -
                                        list['courseOfferingDTO'].currentSize}}</td>
                                    <td>{{list['scheduleDTO'].theoretical}}</td>
                                    <td>{{list['scheduleDTO'].teachingDay}}</td>
                                    <td>{{list['scheduleDTO'].startSlot}}</td>
                                    <td></td>
                                    <td>{{list['scheduleDTO'].studyPlace}}</td>
                                    <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                </tr>
                            </ng-container>
                            <ng-container
                                *ngIf="listTimeTableST[i]['courseDTO'].idCourse == listTimeTableST[i-1]['courseDTO'].idCourse">
                                <tr>
                                    <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize -
                                        list['courseOfferingDTO'].currentSize}}</td>
                                    <td>{{list['scheduleDTO'].theoretical}}</td>
                                    <td>{{list['scheduleDTO'].teachingDay}}</td>
                                    <td>{{list['scheduleDTO'].startSlot}}</td>
                                    <td></td>
                                    <td>{{list['scheduleDTO'].studyPlace}}</td>
                                    <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </div>
</section>