<div class="center">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div [ngClass]="submitted && f.email.errors ? 'is-invalid' : 'txt_field'">
            <input type="text" formControlName="email"
                required>
            <span></span>
            <label>Email</label>
        </div>
        <div [ngClass]="submitted && f.password.errors ? 'is-invalid' : 'txt_field'">
            <input type="password" formControlName="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login" style="margin-bottom: 10px;">
        <p *ngIf="submitted && f.recaptcha.errors?.required" style="color: red;margin-bottom: 10px;">capcha is required</p>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()" (expire)="handleExpire()"
            (load)="handleLoad()" (success)="handleSuccess($event)" [useGlobalDomain]="false" [size]="size" [hl]="lang"
            [theme]="theme" [type]="type" formControlName="recaptcha">
        </ngx-recaptcha2>
        <div style="margin-top: 20px">

        </div>
    </form>
</div>