<!-- Header -->
<section class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="logo"> <img src="assets/image/onlinelogomaker-090517-1302-1194.png" alt=""> </div>
            </div>
            <div class="col-md-2">
                <div class="slogan">
                    <h4>"Chúng tôi sẽ xây dựng một đất nước có nền giáo dục.
                        <br>Trần Mạnh Tường"
                    </h4>
                </div>
            </div>
            <div class="col-md-5">
                <div class="header-right"> <a href="#" data-toggle="modal" data-target="#login-modal" class="top-login">Login</a>
                    <button type="button" class="Admission-button">Kết quả nhập học</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Header -->