<app-header></app-header>
<app-header-bar></app-header-bar>

<div class="container">
    <section class="slider">
        <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line"
            data-ride="carousel" data-pause="hover" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Third Slide -->
                <div class="item active">
                    <!-- Slide Background --><img src="assets/image/slide-5.jpg" alt="Bootstrap Touch Slider"
                        class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Tenetur, architecto, explicabo
                                    perferendis nostrum</h1>
                                <p data-animation="animated fadeInLeft">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->
                <!-- Second Slide -->
                <div class="item">
                    <!-- Slide Background --><img src="assets/image/slide-3.jpg" class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">I WANT TO MAKE BANGLADESH POVERTY-FREE’</h1>
                        <p data-animation="animated lightSpeedIn">Prime Minister Sheikh Hasina</p>
                    </div>
                </div>
                <!-- End of Slide -->
                <!-- Third Slide -->
                <div class="item">
                    <!-- Slide Background --><img src="assets/image/slide-2.jpg" alt="Bootstrap Touch Slider"
                        class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">
                            You have to dream before your dreams can come true.
                        </h1>
                        <p data-animation="animated fadeInRight">A. P. J. Abdul Kalam</p>
                    </div>
                </div>
                <!-- End of Slide -->
            </div>
            <!-- End of Wrapper For Slides -->
            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev"> <span
                    class="fa fa-angle-left" aria-hidden="true"></span> <span class="sr-only">Trước</span> </a>
            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next"> <span
                    class="fa fa-angle-right" aria-hidden="true"></span> <span class="sr-only">Tiếp theo</span> </a>
        </div>
        <!-- End  bootstrap-touch-slider Slider -->
    </section>
</div>
<div class="container">
    <section class="manaquee-left">
        <marquee bgcolor="#003A6A" class="manaquee" loop="-1" scrollamount="5" width="100%"> ::Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
            perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
            iure facere dolorum adipisci eum? Saepe, itaque:: </marquee>
    </section>
</div>
<section class="details-corner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="chairman-message">
                    <h4>Thông báo của Hiêụ trưởng</h4> <img src="assets/image/Untitled-2.jpg" alt="image">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
                        perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
                        iure facere dolorum adipisci eum? Saepe, itaque. </p>
                    <a href="#">
                        <button class="see-more" type="button">Xem thêm</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chairman-message">
                    <h4>Thông báo chính</h4> <img src="assets/image/Untitled-2.jpg" alt="image">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
                        perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
                        iure facere dolorum adipisci eum? Saepe, itaque. </p>
                    <a href="#">
                        <button class="see-more" type="button">Xem thêm</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chairman-message">
                    <h4>Thông báo của đoàn</h4> <img src="assets/image/Untitled-2.jpg" alt="image">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
                        perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
                        iure facere dolorum adipisci eum? Saepe, itaque.</p>
                    <a href="#">
                        <button class="see-more" type="button">Xem thêm</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="general">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="notice-board">
                    <h3>Notice Board</h3>
                    <div>
                        <marquee bgcolor="#F5F5F5" class="bg-notice" onMouseOver="this.scrollAmount=0"
                            onMouseOut="this.scrollAmount=2" scrollamount="2" direction="up" loop="true" width="100%">
                            <div>
                                <div class="N-block"> <span class="d-left">T1<br>
                                        26
                                    </span>
                                    <font color="#000" size="+1"><a href="#"> Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a></font>
                                </div>
                                <hr>
                                <div class="N-block"> <span class="d-left">T1<br>
                                        27
                                    </span>
                                    <font color="#ffffff" size="+1"><a href="#"> Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a></font>
                                </div>
                                <hr>
                                <div class="N-block"> <span class="d-left">T1<br>
                                        28
                                    </span>
                                    <font color="#ffffff" size="+1"><a href="#"> Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a></font>
                                </div>
                                <hr>
                                <div class="N-block"> <span class="d-left">T1<br>
                                        29
                                    </span>
                                    <font color="#ffffff" size="+1"><a href="#"> Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a></font>
                                </div>
                                <hr>
                                <div class="N-block"> <span class="d-left">T2<br>
                                        2
                                    </span>
                                    <font color="#ffffff" size="+1"><a href="#"> Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a></font>
                                </div>
                                <hr>
                                <div class="N-block"> <span class="d-left">T2<br>
                                        6
                                    </span>
                                    <font color="#ffffff" size="+1"><a href="#"> Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a></font>
                                </div>
                            </div>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="lN-head">
                    <h3>LATEST NEWS</h3>
                    <div class="latest-news">
                        <p><a href="#">Kiểm tra HSC tất cả các môn thực hành ngày 18/05/2018 vì những lý do không thể
                                tránh khỏi.
                                Nó sẽ được tổ chức vào ngày 21/05/2018 đúng thời gian</a></p>
                        <hr>
                        <p><a href="#">
                                Thông tư tuyển dụng sửa đổi: Kỳ thi tuyển dụng giáo viên kiêm nhiệm ngày 13 tháng 5 năm
                                2018
                                Thay vì ngày đó, nó sẽ được tổ chức vào ngày 14 tháng 5 năm 2018 lúc 9:00 sáng</a></p>
                        <hr>
                        <p> <a href="#">
                                Năm học 2017, đề thi viết tuyển sinh vào lớp 7 sơ khảo.
                                Kết quả</a></p>
                        <hr>
                        <p> <a href="#">
                                Hồ sơ nhập học của học sinh lớp 7 năm học 2017 bắt đầu từ ngày 14 tháng 4 lúc 12 giờ 01
                                phút
                                Từ đồng hồ cho đến 23:59 tối 11:59 tối</a></p>
                        <button type="button" class="lt-button">See More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="E-learning">
                    <h3>E-learning</h3>
                    <div class="learning">
                        <a href="http://www.infokosh.gov.bd/" >
                            <button type="button" class="e-kosh"> Cơ sở dữ liệu điện tử</button>
                        </a>
                        <hr>
                        <a href="http://www.ebook.gov.bd/index.php" >
                            <button type="button" class="e-kosh">Sách điện tử</button>
                        </a>
                        <hr>
                        <a href="http://10minuteschool.com/" >
                            <button type="button" class="e-kosh">10 phút đến trường </button>
                        </a>
                        <hr>
                        <a href="https://bn.khanacademy.org/" >
                            <button type="button" class="e-kosh">Khoa CNTT</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="four-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="span12">
                    <table class="table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th colspan="7"> <span class="btn-group">
                                        <a class="btn"><i class="icon-chevron-left"></i></a>
                                        <a class="btn active">Tháng 2 2022</a>
                                        <a class="btn"><i class="icon-chevron-right"></i></a>
                                    </span> </th>
                            </tr>
                            <tr>
                                <th>CN</th>
                                <th>T2</th>
                                <th>T3</th>
                                <th>T4</th>
                                <th>T5</th>
                                <th>T6</th>
                                <th>T7</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="muted">29</td>
                                <td class="muted">30</td>
                                <td class="muted">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td class="btn-primary"><strong>20</strong></td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td class="muted">1</td>
                                <td class="muted">2</td>
                                <td class="muted">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="video-part">
                    <iframe width="680" height="320" src="https://www.youtube.com/embed/6dQXtSfN54k" frameborder="0"
                        allowfullscreen></iframe>
                    <button type="button" class="vi-button">Xem thêm</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container">
        <div class="row">
            <h1>Image Gallery</h1>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a title="Image 1" href="#"><img class="thumbnail img-responsive" src="assets/image/download.jpg"></a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a title="Image 2" href="#"><img class="thumbnail img-responsive" src="assets/image/gallery2.jpg"></a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a title="Image 3" href="#"><img class="thumbnail img-responsive" src="assets/image/gallery3.jpg"></a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a title="Image 4" href="#"><img class="thumbnail img-responsive" src="assets/image/gallery4.jpg"></a>
            </div>
        </div>
    </div>
    <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title">Phần mở đầu</h3>
                </div>
                <div class="modal-body"> </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="g-button">Xem thêm</button>
</section>
<app-modal-login></app-modal-login>
<app-footer></app-footer>