<section class="principal-qutoes">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="p-right">
                    <h3>Principal’s Message</h3> <img src="assets/image/Untitled-2.jpg" alt="">
                    <p>বর্তমান যুগ বিজ্ঞান ও তথ্য-প্রযুক্তির উৎকর্ষের যুগ। আধুনিক বিশ্বের সকল ক্ষেত্রে বিজ্ঞান ও
                        তথ্য-প্রযুক্তি পালন করছে জাদুর কাঠির মতো বিস্ময়কর ভূমিকা। শিক্ষা ক্ষেত্রে বিজ্ঞান ও
                        তথ্য-প্রযুক্তির ব্যবহার ইতোমধ্যেই বিশ্বব্যাপী বিরাট আলোড়নের সৃষ্টি করেছে। এ প্রেক্ষাপটে
                        বাংলাদেশ সরকার এদেশের শিক্ষা ব্যবস্থা আধুনিকায়নের লক্ষ্যে বিজ্ঞান ও তথ্য-প্রযুক্তির
                        ব্যবহারকে সর্বাধিক গুরুত্ব দিয়ে সকল শিক্ষা প্রতিষ্ঠানকে অভিন্ন নেটওয়ার্কের আওতায় নিয়ে আসার
                        ব্যাপারে ব্যাপক কর্মসূচি গ্রহণ করেছে। বাংলাদেশের শিক্ষা ব্যবস্থার আধুনিকায়নে সরকারের আহ্বানে
                        সাড়া দিয়ে যে সকল শিক্ষা প্রতিষ্ঠান ইতোমধ্যে বিজ্ঞান ভিত্তিক শিক্ষা উপকরণ ও তথ্য-প্রযুক্তির
                        ব্যবহার শুরু করেছে তাদের মধ্যে ঢাকা রেসিডেনসিয়াল মডেল কলেজ অগ্রগণ্য। ঐতিহ্যবাহী এ শিক্ষা
                        প্রতিষ্ঠানে ইতোমধ্যে বেশ কয়েকটি স্মার্ট ক্লাস রুম স্থাপন করা হয়েছে। এছাড়াও কলেজের একাডেমিক ও
                        প্রশাসনিক কর্মকাণ্ডকে আরো গতিশীল ও তথ্য-প্রযুক্তি বান্ধব করার লক্ষ্যে একটি সমৃদ্ধ কলেজ
                        ম্যানেজমেন্ট সফটওয়্যার সিস্টেম ও ওয়েব সাইট চালু করার কার্যক্রম সম্পন্ন করা হয়েছে। শিক্ষা
                        ব্যবস্থার আধুনিকায়নের ক্ষেত্রে উল্লিখিত তথ্য-প্রযুক্তি কেন্দ্রিক কার্যক্রম সম্পন্ন করায় আমি
                        অত্র কলেজের বোর্ড অব গভর্নরস এর চেয়ারম্যান হিসেবে অত্যন্ত আনন্দিত। এসব কার্যক্রমের মাধ্যমে
                        ঢাকা রেসিডেনসিয়াল মডেল কলেজের একাডেমিক ও প্রশাসনিক কর্মকাণ্ড আরো বেগবান হবে বলে আমি আশাবাদী।
                        শিক্ষা ব্যবস্থার আধুনিকায়নের সাথে সম্পৃক্ত সকলকে জানাই আমার আন্তরিক শুভেচ্ছা ও অভিনন্দন।</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-right">
                    <h3>Principal’s Message</h3> <img src="assets/image/Untitled-2.jpg" alt="">
                    <p>The magnificently designed Dhaka Residential Model College was established in the year
                        1960.With its rich tradition and glory, the institution stands opposite Gonobhaban, the
                        official residence of the Honorable Prime Minister in the heart of Dhaka, the capital city
                        of Bangladesh. It accommodates about 4500 students in two shifts. In an era of digital
                        technology, due emphasis has been laid on imparting knowledge on information technology
                        along with high standard general education in order to make our students worthy citizens of
                        the present high-tech world. In keeping with this policy, Dhaka Residential Model College
                        has opened a website so that everybody including students, guardians and ex-students of this
                        college, can be informed of all the necessary information and activities of the college. In
                        addition, classes are being conducted by efficient teachers with the help of smart board and
                        multimedia, thereby enabling students to assimilate their lessons easily and effectively.
                        The process of digitization is progressing steadily. The college accounts, library,
                        admission procedure, compilation of results and preparation of students' progress report
                        have already been digitized. This will ensure easy access to required information and bring
                        about a greater degree of transparency and accountability in overall administration of the
                        college, not to speak of the enhanced efficiency level of its members. I am quite optimistic
                        that we shall be able to achieve a leading position in the field of education not only in
                        Bangladesh but also in the international arena with the introduction of these modern systems
                        and devices.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-right">
                    <h3>Principal’s Message</h3> <img src="assets/image/Untitled-2.jpg" alt="">
                    <p>The magnificently designed Dhaka Residential Model College was established in the year
                        1960.With its rich tradition and glory, the institution stands opposite Gonobhaban, the
                        official residence of the Honorable Prime Minister in the heart of Dhaka, the capital city
                        of Bangladesh. It accommodates about 4500 students in two shifts. In an era of digital
                        technology, due emphasis has been laid on imparting knowledge on information technology
                        along with high standard general education in order to make our students worthy citizens of
                        the present high-tech world. In keeping with this policy, Dhaka Residential Model College
                        has opened a website so that everybody including students, guardians and ex-students of this
                        college, can be informed of all the necessary information and activities of the college. In
                        addition, classes are being conducted by efficient teachers with the help of smart board and
                        multimedia, thereby enabling students to assimilate their lessons easily and effectively.
                        The process of digitization is progressing steadily. The college accounts, library,
                        admission procedure, compilation of results and preparation of students' progress report
                        have already been digitized. This will ensure easy access to required information and bring
                        about a greater degree of transparency and accountability in overall administration of the
                        college, not to speak of the enhanced efficiency level of its members. I am quite optimistic
                        that we shall be able to achieve a leading position in the field of education not only in
                        Bangladesh but also in the international arena with the introduction of these modern systems
                        and devices.</p>
                </div>
            </div>
        </div>
    </div>
</section>
