.loading-modal {
    display: none;
    /* it will span whole screen */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
  
  
    /* make it on top of all elements */
    z-index: 2000;
    overflow: hidden;
    pointer-events: all;
    
    /* make the background white, but also with 80% opacity */
    background: rgba(125, 125, 125, 0.8);
}