<section class="aca-event text-center">
    <div class="container">

        <div class="fixTableHead">
            
            <table>
                <thead>
                    <tr>
                        <th>{{ 'entities.subCode' | translate }}</th>
                        <th>{{ 'entities.subjectName' | translate }}</th>
                        <th>{{ 'entities.group' | translate }}</th>
                        <th>TTH</th>
                        <th>{{ 'entities.credit' | translate }}</th>
                        <th>{{ 'entities.creditTuit' | translate }}</th>
                        <th>{{ 'entities.classCode' | translate }}</th>
                        <th>{{ 'entities.sSCP' | translate }}</th>
                        <th>{{ 'entities.sSCL' | translate }}</th>
                        <th>{{ 'entities.practice' | translate }}</th>
                        <th>{{ 'entities.day' | translate }}</th>
                        <th>{{ 'entities.startSlot' | translate }}</th>
                        <th>ST</th>
                        <th>{{ 'entities.roomName' | translate }}</th>
                        <th>{{ 'entities.instructor' | translate }}</th>
                        <th>{{ 'entities.examinationList' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="loading == true">
                        <ng-container *ngFor="let list of listTimeTablePR;index as i">
                            <ng-container *ngIf="i == 0">
                                <ng-container
                                    *ngIf="listTimeTablePR[i]['courseDTO'].idCourse != listTimeTablePR[i+1]['courseDTO'].idCourse">
                                    <tr>
                                        <td>{{list['courseDTO'].idCourse}}</td>
                                        <td>{{list['courseDTO'].nameCourse}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseOfferingDTO'].clazzCode}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize -
                                            list['courseOfferingDTO'].currentSize}}</td>
                                        <td>{{list['scheduleDTO'].theoretical}}</td>
                                        <td>{{list['scheduleDTO'].teachingDay}}</td>
                                        <td>{{list['scheduleDTO'].startSlot}}</td>
                                        <td></td>
                                        <td>{{list['scheduleDTO'].studyPlace}}</td>
                                        <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                        <td><a (click)="getListStudentBySubject(list['scheduleDTO'].idSchedule)">DSSV</a></td>
                                    </tr>
                                </ng-container>
                                <ng-container
                                    *ngIf="listTimeTablePR[i]['courseDTO'].idCourse == listTimeTablePR[i+1]['courseDTO'].idCourse">
                                    <tr>
                                        <td rowspan="2">{{list['courseDTO'].idCourse}}</td>
                                        <td rowspan="2">{{list['courseDTO'].nameCourse}}</td>
                                        <td rowspan="2"></td>
                                        <td rowspan="2"></td>
                                        <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                        <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                        <td rowspan="2">{{list['courseOfferingDTO'].clazzCode}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize -
                                            list['courseOfferingDTO'].currentSize}}</td>
                                        <td>{{list['scheduleDTO'].theoretical}}</td>
                                        <td>{{list['scheduleDTO'].teachingDay}}</td>
                                        <td>{{list['scheduleDTO'].startSlot}}</td>
                                        <td></td>
                                        <td>{{list['scheduleDTO'].studyPlace}}</td>
                                        <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                        <td><a (click)="getListStudentBySubject(list['scheduleDTO'].idSchedule)">DSSV</a></td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="i > 0 && i < listTimeTablePR.length - 1">
                                <ng-container
                                    *ngIf="listTimeTablePR[i]['courseDTO'].idCourse == listTimeTablePR[i-1]['courseDTO'].idCourse">
                                    <tr>
                                        <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize -
                                            list['courseOfferingDTO'].currentSize}}</td>
                                        <td>{{list['scheduleDTO'].theoretical}}</td>
                                        <td>{{list['scheduleDTO'].teachingDay}}</td>
                                        <td>{{list['scheduleDTO'].startSlot}}</td>
                                        <td></td>
                                        <td>{{list['scheduleDTO'].studyPlace}}</td>
                                        <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                        <td><a (click)="getListStudentBySubject(list['scheduleDTO'].idSchedule)">DSSV</a></td>
                                    </tr>
                                </ng-container>
                                <ng-container
                                    *ngIf="listTimeTablePR[i]['courseDTO'].idCourse != listTimeTablePR[i-1]['courseDTO'].idCourse && listTimeTablePR[i]['courseDTO'].idCourse == listTimeTablePR[i+1]['courseDTO'].idCourse">

                                    <td rowspan="2">{{list['courseDTO'].idCourse}}</td>
                                    <td rowspan="2">{{list['courseDTO'].nameCourse}}</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                    <td rowspan="2">{{list['courseDTO'].courseCertificate}}</td>
                                    <td rowspan="2">{{list['courseOfferingDTO'].clazzCode}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                    <td>{{list['courseOfferingDTO'].maxSize -
                                        list['courseOfferingDTO'].currentSize}}</td>
                                    <td>{{list['scheduleDTO'].theoretical}}</td>
                                    <td>{{list['scheduleDTO'].teachingDay}}</td>
                                    <td>{{list['scheduleDTO'].startSlot}}</td>
                                    <td></td>
                                    <td>{{list['scheduleDTO'].studyPlace}}</td>
                                    <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                    <td><a (click)="getListStudentBySubject(list['scheduleDTO'].idSchedule)">DSSV</a></td>

                                </ng-container>
                                <ng-container
                                    *ngIf="listTimeTablePR[i]['courseDTO'].idCourse != listTimeTablePR[i-1]['courseDTO'].idCourse && listTimeTablePR[i]['courseDTO'].idCourse != listTimeTablePR[i+1]['courseDTO'].idCourse">
                                    <tr>
                                        <td>{{list['courseDTO'].idCourse}}</td>
                                        <td>{{list['courseDTO'].nameCourse}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseOfferingDTO'].clazzCode}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize -
                                            list['courseOfferingDTO'].currentSize}}</td>
                                        <td>{{list['scheduleDTO'].theoretical}}</td>
                                        <td>{{list['scheduleDTO'].teachingDay}}</td>
                                        <td>{{list['scheduleDTO'].startSlot}}</td>
                                        <td></td>
                                        <td>{{list['scheduleDTO'].studyPlace}}</td>
                                        <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                        <td><a (click)="getListStudentBySubject(list['scheduleDTO'].idSchedule)">DSSV</a></td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="i == listTimeTablePR.length - 1">
                                <ng-container
                                    *ngIf="listTimeTablePR[i]['courseDTO'].idCourse != listTimeTablePR[i-1]['courseDTO'].idCourse">
                                    <tr>
                                        <td>{{list['courseDTO'].idCourse}}</td>
                                        <td>{{list['courseDTO'].nameCourse}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseDTO'].courseCertificate}}</td>
                                        <td>{{list['courseOfferingDTO'].clazzCode}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize -
                                            list['courseOfferingDTO'].currentSize}}</td>
                                        <td>{{list['scheduleDTO'].theoretical}}</td>
                                        <td>{{list['scheduleDTO'].teachingDay}}</td>
                                        <td>{{list['scheduleDTO'].startSlot}}</td>
                                        <td></td>
                                        <td>{{list['scheduleDTO'].studyPlace}}</td>
                                        <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                        <td><a (click)="getListStudentBySubject(list['scheduleDTO'].idSchedule)">DSSV</a></td>
                                    </tr>
                                </ng-container>
                                <ng-container
                                    *ngIf="listTimeTablePR[i]['courseDTO'].idCourse == listTimeTablePR[i-1]['courseDTO'].idCourse">
                                    <tr>
                                        <td>{{list['courseOfferingDTO'].maxSize}}</td>
                                        <td>{{list['courseOfferingDTO'].maxSize -
                                            list['courseOfferingDTO'].currentSize}}</td>
                                        <td>{{list['scheduleDTO'].theoretical}}</td>
                                        <td>{{list['scheduleDTO'].teachingDay}}</td>
                                        <td>{{list['scheduleDTO'].startSlot}}</td>
                                        <td></td>
                                        <td>{{list['scheduleDTO'].studyPlace}}</td>
                                        <td>{{list['scheduleDTO'].idProfeesor}}</td>
                                        <td><a (click)="getListStudentBySubject(list['scheduleDTO'].idSchedule)">DSSV</a></td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>

        </div>
    </div>
</section>