<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3">
            <div class="top-link">
                <h3>Liên kết hàng đầu</h3>
                <hr>
                <p> <a href="#">Ủy ban</a></p>
                <p><a href="#">Nhân lực</a></p>
                <p><a href="#">Thông tin tuyển sinh</a></p>
                <p><a href="#">Hình thức tuyển sinh</a></p>
                <p><a href="#">Lịch trình lớp học</a></p>
                <p> <a href="#">Sự tham dự</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="top-link">
                <h3>Liên kết quan trọng</h3>
                <hr>
                <p> <a href="#">Hội đồng Giáo dục</a></p>
                <p><a href="#">Kết quả của Hội đồng Giáo dục</a></p>
                <p><a href="#">Cổng thông tin </a></p>
                <p><a href="#">NCTB</a></p>
                <p><a href="#">Thư viện công cộng</a></p>
                <p> <a href="#">Sách điện tử</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="top-link">
                <h3>Liên kết quan trọng</h3>
                <hr>
                <p> <a href="#">Sổ tay Quản lý Sinh viên Trực tuyến</a></p>
                <p><a href="#">SSC</a></p>
                <p><a href="#">Giới thiệu về trang web và cách đăng nhập</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="g-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d116834.13673771221!2d90.41932575!3d23.780636450000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1504590944306"
                    width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="foore-part text-center">
        <p><a href="#">@CopyRight by L.N.H.H.S</a></p>
    </section>
</div>
<!-- End of Footer -->