<section class="aca-event text-center">
    <div class="container">

        <div style="margin-bottom: 20px;text-align: center;">
            <span>Ngành:</span>
            <select style="margin-left:10px">
                <option value="CNTT">Công nghệ thông tin</option>
            </select>
        </div>

        <div class="fixTableHead">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'entities.subjectCode' | translate }} </th>
                        <th>{{ 'entities.subjectCode' | translate }} </th>
                        <th>{{ 'entities.subjectCode' | translate }} </th>
                        <th>{{ 'entities.credit' | translate }} </th>
                        <th>{{ 'entities.creditTuit' | translate }} </th>
                        <th>{{ 'entities.year' | translate }} </th>
                        <th>{{ 'entities.semester' | translate }} </th>
                        <th> BB Tự chọn</th>
                        <th>Đã học</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listCourseProgram;index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.idCourse}}</td>
                        <td>{{item.nameCourse}}</td>
                        <td style="text-align: center">{{item.stc}}</td>
                        <td style="text-align: center">{{item.stchp}}</td>
                        <td style="text-align: center">{{item.year}}</td>
                        <td style="text-align: center">{{item.semester}}</td>
                        <td style="text-align: center">{{item.option == true ? '0301' : ''}}</td>
                        <td style="text-align: center">{{item.wasLearned == true ? 'X' : ''}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top: 20px;text-align: center;">
            <button (click)="exportToExcel()">Xuất ra excel</button>
        </div>
    </div>
</section>