* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  background-color: whitesmoke;
  background-size: cover;
  outline: none;
}

.navbar {
  background-color: #003A6A;
  padding: 20px;
}

.logo {
  text-align: center;
}

.logo img {
  text-align: center;
  height: 100px;
  width: 450px;
}

.slogan h4 {
  font-size: 20px;
  text-align: center;
  color: white;
}

.header-right {
  margin-left: 150px;
  margin-top: 30px;
}

.top-login {
  background-color: white;
  padding: 8px 25px 9px 25px;
  border: none;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.Admission-button {
  background-color: white;
  padding: 8px 25px 8px 25px;
  border: none;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.menu-nav {
  margin-top: 140px;
}

.navbar-change {
  background-color: whitesmoke;
}

@media (min-width: 320px) and (max-width: 568px) {
  .menu-nav {
    margin-top: 340px;
  }
}

/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
  .slide-text h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .slide-text>p {
    font-size: 18px;
  }
}

/*---------- MEDIA 480px ----------*/

@media (max-width: 768px) {
  .slide-text {
    padding: 10px 50px;
  }

  .slide-text h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .slide-text>p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .control-round .carousel-control {
    display: none;
  }
}

@media (max-width: 480px) {
  .slide-text {
    padding: 10px 30px;
  }

  .slide-text h1 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .slide-text>p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .slide-text>a.btn-default,
  .slide-text>a.btn-primary {
    font-size: 10px;
    line-height: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px 15px;
  }

  .indicators-line>.carousel-indicators {
    display: none;
  }
}

/* Icon */

label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

input[type=checkbox]+label::after {
  content: "+";
}

input[type=radio]+label::after {
  content: "\25BC";
}

input[type=checkbox]:checked+label::after {
  transform: rotate(315deg);
}

input[type=radio]:checked+label::after {
  transform: rotateX(180deg);
}

.bs-example {
  margin: 20px;
}

.routine-buttion {
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  background-color: #003A6A;
  border: none;
  color: white;
  margin-top: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.result-buttion {
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  background-color: #003A6A;
  border: none;
  color: white;
  margin-top: 30px;
}

.modal-dialog {
  width: 600px;
}

.i-gallery h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

img.thumbnail {
  height: 187px;
  width: 265px
}




/****** LOGIN MODAL ******/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  text-align: center;
  display: inline-block;

  transition: opacity ease 0.5s;
}

.login-help {
  font-size: 12px;
}

.top-login182 {
  background-color: #003A6A;
  padding: 8px 25px 9px 25px;
  border: none;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
