<!--        /* modal login*/-->
<div class="login-form">
    <div class="container">
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Đăng nhập vào tài khoản của bạn</h1>
                    <br>
                    <form>
                        <input type="text" name="user" placeholder="Username">
                        <input type="password" name="pass" placeholder="Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                    </form>
                    <div class="login-help"> <a href="#" class="top-login182">Đăng ký</a> - <a href="#">Quên mật
                            khẩu</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>