<!-- Header -->
<section class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="logo"> <img src="assets/image/Logo_HCMUAF.png"  alt=""> </div>
            </div>
            <div class="col-md-2">
                <div class="slogan">
                    <h4>"Chúng tôi sẽ xây dựng một đất nước có nền giáo dục.
                        <br>Trần Mạnh Tường"
                    </h4>
                </div>
            </div>
            <div class="col-md-5">
                <div class="header-right">
                    <button style="margin: 0 10px;" type="button" class="Admission-button" (click)="openDialogLogin()">{{ account !== null ?"Xin chao "+account.idAccount:"Login" }}</button>

                    <button *ngIf="account !== null" type="button" class="Admission-button" (click)="logout()">Logout</button>
                </div>


            </div>
            <div class="col-md-5" style="margin-top: 20px;">
                <img style="padding-left: 150px;" src="assets/translationImage/US.gif" (click)="changeLanguage('en')">
                <img style="padding-left: 4px;" src="assets/translationImage/VI.gif" (click)="changeLanguage('vi')">
            </div>
        </div>
    </div>
</section>
<!-- End of Header -->

<!-- data-toggle="modal" data-target="#login-modal" -->