<section class="final-early-routine">
    <div class="container">
        <h3>Final Exam Routine </h3>
        <div class="final-routine">
            <table>
                <tr>
                    <th>DATE</th>
                    <th>DAY</th>
                    <th>SUBJECT</th>
                    <th>TIME</th>
                    <th>ROOM NUMBER</th>
                </tr>
                <tr>
                    <td>1/09/17</td>
                    <td>Saturday</td>
                    <td>English First Paper</td>
                    <td>10:00Am</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>3/09/17</td>
                    <td>Monday</td>
                    <td>English 2nd Paper</td>
                    <td>10:00Am</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>6/09/17</td>
                    <td>Thrusday</td>
                    <td>Bangla First Paper</td>
                    <td>10:00Am</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>9/09/17</td>
                    <td>Monday</td>
                    <td>Physic</td>
                    <td>3:00pm</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>11/07/12</td>
                    <td>Thrusday</td>
                    <td>Biology</td>
                    <td>12:00pm</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>11/07/12</td>
                    <td>Thrusday</td>
                    <td>Chemesrty</td>
                    <td>10:00pm</td>
                    <td>12</td>
                </tr>
            </table>
        </div>
        <a href="assets/image/haly-eaxm-routine.PNG" download>
            <button type="button" class="routine-buttion">Download PDF</button>
        </a>
    </div>
</section>
