<section class="info-school">
    <div class="container">
        <div class="half">
            <p> <strong>Mục tiêu và mục đích</strong></p>
            <div class="tab">
                <input id="tab-one" type="checkbox" name="tabs">
                <label for="tab-one">Label One</label>
                <div class="tab-content">
                    <p>Mục tiêu và mục tiêu của trường là tài năng của sinh viên thông qua chương trình giảng dạy và các
                        chương trình ngoại khóa. Phát triển tài năng và tăng trưởng cân bằng các kỹ năng thể chất và
                        tinh thần - để họ trở thành
                        công dân đủ điều kiện. Khi nó phát triển, nó có thể trao quyền lãnh đạo đúng đắn cho đất nước và
                        quốc gia.</p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-two" type="checkbox" name="tabs">
                <label for="tab-two">Label Two</label>
                <div class="tab-content">
                    <p>
                        Giáo dục là xương sống của quốc gia, không quốc gia nào có thể thịnh vượng nếu không có giáo
                        dục. Mọi người đã biết an tâm phát triển, đi học cấp ba mới là quan trọng. Nó cho chúng ta thấy
                        con đường dẫn đến nhiều lợi ích và cơ hội. Một người được học ở bậc trung học phổ thông gần gấp
                        đôi người được học ở bậc tiểu học. Vì vậy, trong suốt cuộc đời, một người tốt nghiệp tiểu học
                        chỉ kiếm được 1 triệu yên trong khi một người tốt nghiệp trung học thực sự là một người tốt
                        nghiệp trung học phổ thông và một người tốt nghiệp tiểu học. Một lợi thế khác của trường trung
                        học là cao hơn. Nhận được kết quả tốt từ trường học sau này có thể kéo dài tuổi thọ giáo dục của
                        anh ta. Đó là một may mắn cho chúng tôi. Điều này rất hữu ích cho việc cải thiện chất lượng cuộc
                        sống của chúng ta về mặt tinh thần, xã hội, cấu trúc và chất lượng cuộc sống. Vì vậy, mục tiêu
                        chính của chúng tôi là làm cho tất cả mọi người quan tâm đến giáo dục trung học. Sau này gửi đến
                        tất cả các học sinh đang học ở trường trung học. Để phát triển năng khiếu và tài năng của họ
                        thông qua chương trình giảng dạy và các chương trình ngoại khóa và hướng tới mục tiêu phát triển
                        họ thành những công dân có năng lực. Bởi vì giáo dục và công nghệ hiện đại là tài nguyên của
                        chúng tôi.</p>
                </div>
            </div>
        </div>
    </div>
</section>