<section class="info-school">
    <div class="container">
        <div class="half">
            <p>History of <strong>School</strong></p>
            <div class="tab">
                <input id="tab-one" type="checkbox" name="tabs">
                <label for="tab-one">Label One</label>
                <div class="tab-content">
                    <p>In Bangladesh, there are basically three types of schools: Bangla medium, English medium and
                        madrassa (religious school).
                        In English medium schools, the curriculum is mostly based on the UK education system, with
                        textbooks written by British, Indian and other foreign writers. Also, there are some schools
                        teaching the English version of Bangla curriculum fixed by the National Curriculum and
                        Textbook Board.
                        According to the National Education Policy 2010, the curriculums at all educational levels,
                        including primary and secondary, should reflect the spirit of the country’s Liberation War,
                        Language Movement, mother language, literature, culture and history.
                        The English medium schools are trying to comply by having Bangla language and Bangladesh
                        studies on the syllabus to instill patriotism and love for the country in the students.
                        Ahead of International Mother Language Day on February 21, Y&I talked to some English medium
                        schools in the capital to find out how they teach Bangla language and Bangladesh studies.
                    </p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-two" type="checkbox" name="tabs">
                <label for="tab-two">Label Two</label>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
                        perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
                        iure facere dolorum adipisci eum? Saepe, itaque.</p>
                </div>
            </div>
        </div>
    </div>
</section>