<section class="rules-regulation">
    <div class="container">
        <div class="Rule-school">
            <h3><strong>Các trường trung học</strong></h3>
            <p>1. Năm học bắt đầu vào ngày 1 tháng 1 và kết thúc vào ngày 31 tháng 12 hàng năm.</p>
            <h4><strong>Giới hạn về tuổi tác</strong></h4>
            <p>Không học sinh nào được nhận vào lớp IX của một trường Trung học chưa đủ 12 tuổi và học sinh trên 20 tuổi không được phép ở lại lớp IX và X của Trường trung học, trừ khi có những lý do đặc biệt và việc tiếp tục học ở lớp đó là được phép của Hội đồng quản trị.</p>
            <p>3. (i) Thông thường sẽ không có việc tuyển sinh đầu tiên nam và nữ vào Lớp IX của một trường Trung học
                Ngôi trường. Trong những trường hợp đặc biệt, đơn xin nhập học đầu tiên của học sinh vào Lớp IX phải được
                được phụ huynh hoặc người giám hộ hợp pháp nộp bản sao theo mẫu quy định của Hội đồng quản trị
                Hiệu trưởng / Hiệu trưởng của trường nơi được tuyển sinh, người sẽ chuyển đến
                Thư ký của Hội đồng quản trị một bản sao tương tự trong vòng một tuần kể từ ngày nhận được và trong mọi trường hợp
                không muộn hơn ngày 15 tháng 2 của năm cùng với các tài liệu sau:</p>
            <p> (a) Giấy chứng nhận từ một Cán bộ được cấp phép dưới con dấu chính thức của anh ta để có hiệu lực rằng cậu bé / cô gái
                trước đây chưa theo học bất kỳ trường nào trong hoặc ngoài phạm vi quản lý lãnh thổ của Hội đồng.
            </p>
            <p>(b) Giấy chứng nhận của Hiệu trưởng / Hiệu trưởng của trường nơi dự tuyển vào
                có hiệu lực rằng học sinh nam / nữ phù hợp để nhập học vào một lớp cụ thể của trường học của anh / cô ấy
                anh ấy / cô ấy trên biểu mẫu.</p>
            <h4><strong>Bài kiểm tra đầu vào</strong></h4>
            <p>Mọi người đăng ký nhập học sẽ phải kiểm tra thể lực thường xuyên của mình trong lớp để
                việc nhập học nào được tìm kiếm và anh ấy / cô ấy sẽ không được nhận trừ khi Hiệu trưởng / Hiệu trưởng
                hài lòng về thể lực của học sinh đối với lớp.</p>
            <h4><strong>Nhập học cùng lớp với Chứng chỉ chuyển giao cho biết</strong></h4>
            <p>Một học sinh đến với Chứng chỉ Chuyển tiếp từ một trường được công nhận khác sẽ không được xếp vào
                                nhập học vào một lớp cao hơn lớp tương đương với lớp mà anh / cô ấy đang đọc
                                tại trường cũ của anh ấy / cô ấy trừ khi -</p>
            <p>(i) Giấy chứng nhận chuyển trường của anh ấy / cô ấy cho biết rằng anh ấy / cô ấy đã vượt qua kỳ kiểm tra hàng năm để thăng cấp,
                trong trường hợp đó anh ta / cô ta có thể được xếp vào lớp cao hơn tiếp theo. Tuy nhiên, nếu nó được tìm thấy sau,
                kiểm tra xem anh / cô ấy không phù hợp với lớp đó, Hiệu trưởng / Hiệu trưởng có thể xếp anh ấy / cô ấy vào
                lớp thấp hơn tiếp theo, tức là lớp mà anh ấy / cô ấy đang đọc ở trường cũ của anh ấy / cô ấy.</p>
            <p>(ii) Anh ta đã nghỉ học không dưới một năm và cha mẹ hoặc người giám hộ của anh ta có thể sản xuất
                bằng chứng đáng tin cậy rằng học sinh đã nhận được sự hướng dẫn đầy đủ trong thời gian vắng mặt ở trường. Ở trong
                trong trường hợp như vậy, Hiệu trưởng / Hiệu trưởng có thể xếp học sinh vào một lớp cao hơn, nếu, sau một
                Bài kiểm tra đầu vào, anh ấy / cô ấy thấy rằng học sinh đó phù hợp với lớp cao hơn như vậy. Tên của bất kỳ học sinh như vậy
                xử lý phải được ghi trong sổ đăng ký nhập học bằng dấu hoa thị màu đỏ, và ngày
                và lớp học mà anh / cô ấy được nhận cũng phải được viết lại bằng màu đỏ trong cùng một sổ đăng ký.
                Cán bộ thanh tra cần đặc biệt quan tâm đến học sinh đó tại thời điểm thanh tra. Tất cả như vậy
                tuy nhiên, các trường hợp sẽ được báo cáo cho Hội đồng để lưu hồ sơ.</p>
        </div> <a
            href="http://www.educationboard.gov.bd/edb_rules_regulations_common_school_admission_transfer.php">Đọc thêm</a>
    </div>
</section>
