<section class="jse-early-result">
    <div class="container">
        <h3>JSC Exam Result Sheet</h3>
        <input type="file" #file style="display: inline-block;" placeholder="Upload file" accept=".xlsx">
        <button (click)="onFileSubmit(file)">submit</button>

        <div class="jsc-result">
            <h3>Kết quả</h3>
            <mat-tab-group *ngIf="finish" style="margin-top: 20px;">
                <mat-tab label="Tất cả">
                    <table>
                        <tr>
                            <th>Họ và Tên Đệm</th>
                            <th>Tên</th>
                            <th>Mã Ngành</th>
                        </tr>
                        <tr *ngFor="let item of listAll" [ngStyle]="{'color': item.mess == null ? '#fff' : '#D8000C','background-color': item.mess == null ? '#88B04B' : '#FFBABA'}">
                            <td>{{ item.hasOwnProperty('firstName') ? item.firstName : '' }}</td>
                            <td>{{ item.hasOwnProperty('lastName') ? item.lastName : '' }}</td>
                            <td>{{ item.hasOwnProperty('faculty') ? item.faculty : '' }}</td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Thành Công">
                    <table>
                        <tr>
                            <th>Họ và Tên Đệm</th>
                            <th>Tên</th>
                            <th>Mã Ngành</th>
                        </tr>
                        <tr *ngFor="let item of listSuccess" style="color: #fff;background-color: #88B04B;">
                            <td>{{ item.hasOwnProperty('firstName') ? item.firstName : '' }}</td>
                            <td>{{ item.hasOwnProperty('lastName') ? item.lastName : '' }}</td>
                            <td>{{ item.hasOwnProperty('faculty') ? item.faculty : '' }}</td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Lỗi">
                    <table>
                        <tr>
                            <th>Họ và Tên Đệm</th>
                            <th>Tên</th>
                            <th>Mã Ngành</th>
                        </tr>
                        <tr *ngFor="let item of listError" style="color: #D8000C;background-color: #FFBABA;">
                            <td>{{ item.hasOwnProperty('firstName') ? item.firstName : '' }}</td>
                            <td>{{ item.hasOwnProperty('lastName') ? item.lastName : '' }}</td>
                            <td>{{ item.hasOwnProperty('faculty') ? item.faculty : '' }}</td>
                        </tr>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </div>
        <a href="assets/image/half-exam-result.PNG" download>
            <button type="button" class="result-buttion">Download PDF</button>
        </a>
    </div>
</section>