    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3">
                <div class="top-link">
                    <h3>Top Link</h3>
                    <hr>
                    <p> <a href="#">কমিটি</a></p>
                    <p><a href="#">জনবল</a></p>
                    <p><a href="#">ভর্তি তথ্যাদি</a></p>
                    <p><a href="#">ভর্তি ফরম</a></p>
                    <p><a href="#">ক্লাস রুটিন</a></p>
                    <p> <a href="#">হাজিরা</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-link">
                    <h3> Important URL</h3>
                    <hr>
                    <p> <a href="#">Education Board</a></p>
                    <p><a href="#">Education Board Results</a></p>
                    <p><a href="#">Bangladesh Portal</a></p>
                    <p><a href="#">NCTB</a></p>
                    <p><a href="#">Public Library</a></p>
                    <p> <a href="#">Ebook</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-link">
                    <h3>Top Link</h3>
                    <hr>
                    <p> <a href="#">Online Student Management Manual</a></p>
                    <p><a href="#">Name Correction SSC</a></p>
                    <p><a href="#">About Web Site And How to log-in</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="g-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d116834.13673771221!2d90.41932575!3d23.780636450000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1504590944306"
                        width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="foore-part text-center">
            <p><a href="#">@CopyRight by L.N.H.H.S</a></p>
        </section>
    </div>
    <!-- End of Footer -->
