<section class="faculty-info">
    <div class="container">
        <div class="half">
            <p>Faculty<strong> Information</strong></p>
            <div class="tab">
                <input id="tab-one" type="checkbox" name="tabs">
                <label for="tab-one">Science Faculty</label>
                <div class="tab-content">
                    <p>বিজ্ঞান (ইংরেজি: Science) হচ্ছে বিশ্বের যাবতীয় ভৌত বিষয়াবলী পর্যবেক্ষণ, পরীক্ষণ, যাচাই,
                        নিয়মসিদ্ধ, বিধিবদ্ধ ও গবেষণালদ্ধ পদ্ধতি যা জ্ঞানকে তৈরিপূর্বক সুসংগঠিত করার কেন্দ্রস্থল।
                        ল্যাটিন শব্দ সায়েনটিয়া থেকে ইংরেজি সায়েন্স শব্দটি এসেছে, যার অর্থ হচ্ছে জ্ঞান। বাংলা
                        ভাষায় বিজ্ঞান শব্দটির অর্থ বিশেষ জ্ঞান।[১] ধারাবাহিক পর্যবেক্ষণ ও গবেষণার ফলে কোন বিষয়ে
                        প্রাপ্ত ব্যাপক ও বিশেষ জ্ঞানের সাথে জড়িত ব্যক্তি বিজ্ঞানী, বিজ্ঞানবিদ কিংবা বৈজ্ঞানিক নামে
                        পরিচিত হয়ে থাকেন। বিজ্ঞানীরা বিশেষ বৈজ্ঞানিক পদ্ধতি অনুসরণ করে জ্ঞান অর্জন করেন এবং প্রকৃতি
                        ও সমাজের নানা মৌলিক বিধি ও সাধারণ সত্য আবিষ্কারের চেষ্টা করেন।[২] বর্তমান বিশ্ব এবং এর
                        প্রগতি নিয়ন্ত্রিত হয় বিজ্ঞানের মাধ্যমে। তাই এর গুরুত্ব অপরিসীম। ব্যাপক অর্থ যে কোন জ্ঞানের
                        পদ্ধতিগত বিশ্লেষণকে বিজ্ঞান বলা হলেও এখানে আরেকটি সূক্ষ্ম অর্থে শব্দটি ব্যবহার করা হবে।</p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-two" type="checkbox" name="tabs">
                <label for="tab-two">Buisness Studies</label>
                <div class="tab-content">
                    <p>ব্যবসায় শিক্ষা (ইংরেজি: Business Studies) একটি একাডেমিক বিষয় যা অস্ট্রেলিয়া, আর্জেন্টিনা,
                        আয়ারল্যান্ড, কানাডা, জিম্বাবুয়ে, তানজানিয়া, দক্ষিণ আফ্রিকা, নেপাল, নিউজিল্যান্ড,
                        পাকিস্তান, বাংলাদেশ, ভারত, মালয়েশিয়া, যুক্তরাজ্য, শ্রীলঙ্কা, সুইডেন এবং হংকংয়ে মাধ্যমিক
                        স্তরে, সেইসাথে অনেক দেশে বিশ্ববিদ্যালয় পর্যায়ে পড়ানো হয়ে থাকে। এ শিক্ষা বা গবেষণায়
                        হিসাববিদ্যা, ফাইন্যান্স, বিপণন, সাংগঠনিক গবেষণা এবং অর্থনীতি এই সকল উপাদানের সম্মিলন রয়েছে
                        ,বাংলাদেশে নিম্ন-মাধ্যমিক পর্যায় থেকে ব্যবসায় শিক্ষা পাঠদান কার্যক্রম শুরু হয়।
                        উচ্চ-মাধ্যমিক এবং বিশ্ববিদ্যালয়ে উচ্চতর পর্যায়ের শিক্ষা কার্যক্রমেও ব্যবসায় শিক্ষা বিষয়ক
                        আলাদা বিভাগ অনুযায়ী কার্যক্রম চালু রয়েছে।</p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-three" type="checkbox" name="tabs">
                <label for="tab-three">Humanities</label>
                <div class="tab-content">
                    <p>বাংলাদেশের শিক্ষাব্যবস্থায় একজন শিক্ষার্থীকে সবচেয়ে কঠিন বাঁধাটি অতিক্রম করতে হয় এইচএসসি পাশ
                        করার পর উচ্চ শিক্ষার প্রবেশ মুখে। মাধ্যমিক উচ্চ-মাধ্যমিক পর্যায়ে এসেই আমাদের অনেক কে বেছে
                        নিতে হয়, বিজ্ঞান পরব, মানবিক শিক্ষায় পড়ব না ব্যবসা শিক্ষায় পড়ব। বিজ্ঞানের পর অবশ্য ছাত্র
                        ছাত্রীরা ব্যবসা শিক্ষায় পড়তে ছেলে মেয়রা বেশি আগ্রহী। কিন্তু পরার পর ভবিষ্যতে আপনি কোন লাইনে
                        পড়াশুনা করতে পারেন সেটা নিয়ে এই লেখাটি । এইচএসসি পাশের পূর্বেই অর্থাৎ স্কুল পূর্বেই যদি এই
                        লেখাটি একজন অভিভাবক কিংবা শিক্ষার্থীর হাতে যায় তাহলে এইচএসসি উত্তর উচ্চশিক্ষা বিষয়ক যে
                        গুরুত্বপূর্ণ সিদ্ধান্ত নিতে হয় সেটিতে অনেক সুবিধা হবে বলে আমাদের বিশ্বাস।একটি দেশের সামগ্রিক
                        অর্থ ব্যবস্থা নিয়ন্ত্রণের দায়িত্ব অর্থনীতিবিদদের। তাছাড়া বর্তমানে অর্থ সংশ্লিষ্ট কাজের দেশীয়
                        এবং আন্তর্জাতিক ক্ষেত্রে বৃদ্ধি পাওয়ায় এই বিভাগের চাহিদাও বৃদ্ধি পাচ্ছে। দেশের সব কয়টি
                        পাবলিক বিশ্ববিদ্যালয় ছাড়াও বেশকিছু প্রাইভেট বিশ্ববিদ্যালয় এবং জাতীয় বিশ্ববিদ্যালয় অধিভূক্ত
                        অনেক কলেজে এই বিষয়টি পড়ানো হয়। দেশের সরকারি বিশ্ববিদ্যালয়গুলোতে বিশেষ করে ঢাকা
                        বিশ্ববিদ্যালয়ে অর্থনীতির অনেক বিষয়ের উপর পিএইচডি করা যায়। অর্থনীতি বিভাগের শিক্ষার্থীরা
                        বিসিএস ক্যাডারে যোগদান করা ছাড়াও দেশের ব্যাংক বিশেষ করে বাংলাদেশ ব্যাংক, ব্যবসা- প্রতিষ্ঠান,
                        বিভিন্ন প্রাইভেট ফার্ম, শিক্ষকতা ও বিভিন্ন গবেষণা প্রতিষ্ঠানে গবেষক হিসেবে চাকুরি লাভ করে
                        থাকে। আইন (Law) আইন বিষয়ের চাহিদা বহুবিদ- প্রথমত, আইনজীবী হিসেবে কোর্টে মামলা পরিচালনা করা।
                        দ্বিতীয়ত, সরকারি (বিসিএস জুডিশিয়াল) এবং দেশি, বিদেশি ও বহুজাতিক বিভিন্ন কোম্পানীতে আইন
                        কর্মকর্তা বা উপদেষ্টা হিসেবে নিয়োগ লাভ করে কাজ করা যায়। উল্লেখ্য সরকার পক্ষের মামলা পরিচালনা
                        করার জন্য সরকার দেশের বিভিন্ন আদালতে আইনজীবীদের মধ্য থেকেই আইন কর্মকর্তা নিয়ে থাকেন। এসব
                        ছাড়াও বিভিন্ন ক্ষেত্রে আইনের ব্যাপক চাহিদা রয়েছে। দেশের সব কয়টি পাবলিক বিশ্ববিদ্যালয় ছাড়াও
                        বেশকিছু প্রাইভেট বিশ্ববিদ্যালয়ে আইন বিষয়ে চার বছর মেয়াদী অনার্স কোর্স চালু আছে। এছাড়া জাতীয়
                        বিশ্ববিদ্যালয় অধিভূক্ত আইন কলেজেসমূহে সাধারন এলএলবি ডিগ্রি দেওয়া হয়।</p>
                </div>
            </div>
        </div>
    </div>
</section>
