<app-header></app-header>
<app-header-bar></app-header-bar>
<section class="contact">
    <div class="container">
        <h1>Địa chỉ và số điện thoại liên hệ</h1>
        <p>Cám ơn đã liên hệ</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="address">
                    <p>Lakshmanpur,Monohorgong</p>
                    <p>Comilla</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="phone">
                    <p>+08801837473647</p>
                    <p>Fax: 880-2-89763515625339</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-modal-login></app-modal-login>
<app-footer></app-footer>