<section class="principal-qutoes">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="p-right">
                    <h3>Lời nhắn của hiệu trưởng</h3> <img src="assets/image/Untitled-2.jpg" alt="">
                    <p>The magnificently designed Dhaka Residential Model College was established in the year
                        1960.With its rich tradition and glory, the institution stands opposite Gonobhaban, the
                        official residence of the Honorable Prime Minister in the heart of Dhaka, the capital city
                        of Bangladesh. It accommodates about 4500 students in two shifts. In an era of digital
                        technology, due emphasis has been laid on imparting knowledge on information technology
                        along with high standard general education in order to make our students worthy citizens of
                        the present high-tech world. In keeping with this policy, Dhaka Residential Model College
                        has opened a website so that everybody including students, guardians and ex-students of this
                        college, can be informed of all the necessary information and activities of the college. In
                        addition, classes are being conducted by efficient teachers with the help of smart board and
                        multimedia, thereby enabling students to assimilate their lessons easily and effectively.
                        The process of digitization is progressing steadily. The college accounts, library,
                        admission procedure, compilation of results and preparation of students' progress report
                        have already been digitized. This will ensure easy access to required information and bring
                        about a greater degree of transparency and accountability in overall administration of the
                        college, not to speak of the enhanced efficiency level of its members. I am quite optimistic
                        that we shall be able to achieve a leading position in the field of education not only in
                        Bangladesh but also in the international arena with the introduction of these modern systems
                        and devices.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-right">
                    <h3>Lời nhắn của hiệu trưởng</h3> <img src="assets/image/Untitled-2.jpg" alt="">
                    <p>The magnificently designed Dhaka Residential Model College was established in the year
                        1960.With its rich tradition and glory, the institution stands opposite Gonobhaban, the
                        official residence of the Honorable Prime Minister in the heart of Dhaka, the capital city
                        of Bangladesh. It accommodates about 4500 students in two shifts. In an era of digital
                        technology, due emphasis has been laid on imparting knowledge on information technology
                        along with high standard general education in order to make our students worthy citizens of
                        the present high-tech world. In keeping with this policy, Dhaka Residential Model College
                        has opened a website so that everybody including students, guardians and ex-students of this
                        college, can be informed of all the necessary information and activities of the college. In
                        addition, classes are being conducted by efficient teachers with the help of smart board and
                        multimedia, thereby enabling students to assimilate their lessons easily and effectively.
                        The process of digitization is progressing steadily. The college accounts, library,
                        admission procedure, compilation of results and preparation of students' progress report
                        have already been digitized. This will ensure easy access to required information and bring
                        about a greater degree of transparency and accountability in overall administration of the
                        college, not to speak of the enhanced efficiency level of its members. I am quite optimistic
                        that we shall be able to achieve a leading position in the field of education not only in
                        Bangladesh but also in the international arena with the introduction of these modern systems
                        and devices.</p>
                </div>
            </div>
        </div>
    </div>
</section>
