<section class="aca-event text-center">
    <div class="container">
        <table>
            <tr>
                <th>SL</th>
                <th>Ngày tổ chức</th>
                <th>Tên sự kiện</th>
                <th>Mô tả ngắn</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Aug 18, 2016 - Dec 31, 2016</td>
                <td>HSC Result - 2016</td>
                <td>HSC Result - 2016</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Aug 18, 2016 - Dec 31, 2016</td>
                <td>HSC Result - 2016</td>
                <td>HSC Result - 2016</td>
            </tr>
        </table>
    </div>
</section>
