<!--        /* modal login*/-->
<div class="login-form">
    <div class="container">
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Đăng nhập vào tài khoản của bạn</h1>
                    <br>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input type="text" formControlName="email" name="user" placeholder="Username"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">['email'] is required</div>
                            <div *ngIf="f.email.errors.email">['email'] is invalid</div>
                        </div>
                        <input type="password" formControlName="password" name="pass" placeholder="Password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                        
                    </form>
                    <div class="login-help"> <a class="top-login182">Đăng ký</a> - <a>Quên mật
                            khẩu</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>