.search {
    border: 1px solid #dddddd;
    height: 50px;
    display: flex;
    align-items: center;
    #submit{
      margin-right: 8px;
      margin-left: auto;
    }
  }
  .fixTableHead {
    overflow: auto; 
    height: 350px;
  
    thead th {
      position: sticky; 
      top: 0; 
      z-index: 1;
      background: #ABDD93;
    }
  }
  