router-outlet+ ::ng-deep * {
  body {
    background-color: whitesmoke;
    background-size: cover;
    outline: none;
  }

  .navbar {
    background-color: #003A6A;
    padding: 20px;
  }

  .logo {
    text-align: center;

    img {
      text-align: center;
      height: 100px;
      width: 450px;
    }
  }

  .slogan {
    h4 {
      font-size: 20px;
      text-align: center;
      color: white;
    }
  }

  .header-right {
    margin-left: 150px;
    margin-top: 30px;
  }

  .top-login {
    background-color: white;
    padding: 8px 25px 9px 25px;
    border: none;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
  }

  .Admission-button {
    background-color: white;
    padding: 8px 25px 8px 25px;
    border: none;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  .menu-nav {
    margin-top: 140px;
  }

  .navbar-change {
    background-color: whitesmoke;
  }

  label {
    &::after {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 3em;
      height: 3em;
      line-height: 3;
      text-align: center;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s;
    }
  }


  .slide-text {
    &>p {
      font-size: 18px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 5px;
    }
  }

  .control-round {
    .carousel-control {
      display: none;
    }
  }

  .slide-text>a.btn-default,
  .slide-text>a.btn-primary {
    font-size: 10px;
    line-height: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px 15px;
  }

  .indicators-line {
    &>.carousel-indicators {
      display: none;
    }
  }

  input[type=checkbox] {
    &+label {
      &::after {
        content: "+";
      }
    }
  }

  input[type=radio] {
    &+label {
      &::after {
        content: "\25BC";
      }
    }
  }

  input[type=checkbox]:checked {
    &+label {
      &::after {
        transform: rotate(315deg);
      }
    }
  }

  input[type=radio]:checked {
    &+label {
      &::after {
        transform: rotateX(180deg);
      }
    }
  }

  .bs-example {
    margin: 20px;
  }

  .routine-buttion {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background-color: #003A6A;
    border: none;
    color: white;
    margin-top: 30px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: middle;
  }

  tr {
    &:nth-child(even) {
      // background-color: #dddddd;
    }
  }

  .result-buttion {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background-color: #003A6A;
    border: none;
    color: white;
    margin-top: 30px;
  }

  .modal-dialog {
    width: 600px;
  }

  .i-gallery {
    h1 {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }

  img {
    &.thumbnail {
      height: 187px;
      width: 265px;
    }
  }

  /* RESPONSIVE------------------------------------------------------*/
  @media (max-width: 991px) {
    .slide-text h1 {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }

    .slide-text>p {
      font-size: 18px;
    }
  }

  /*---------- MEDIA 480px ----------*/

  @media (max-width: 768px) {
    .slide-text {
      padding: 10px 50px;
    }

    .slide-text h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    .slide-text>p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    .control-round .carousel-control {
      display: none;
    }
  }

  @media (max-width: 480px) {
    .slide-text {
      padding: 10px 30px;
    }

    .slide-text h1 {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 5px;
    }

    .slide-text>p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    .slide-text>a.btn-default,
    .slide-text>a.btn-primary {
      font-size: 10px;
      line-height: 10px;
      margin-right: 10px;
      text-align: center;
      padding: 10px 15px;
    }

    .indicators-line>.carousel-indicators {
      display: none;
    }
  }

}
