<!-- Header-bar -->
<div class="container">
    <section class="menu-nav">
        <nav class="navbar navbar-default navbar-change ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                            navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"> </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a [routerLink]="['/home']"> Home</a></li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['/about/about-us']">About Us </a></li>
                                <li><a [routerLink]="['/about/our-principal']"> Our Principal</a></li>
                                <li><a [routerLink]="['/about/mission-and-vission']"> Mission & Vision </a></li>
                                <li><a [routerLink]="['/about/faculty-member']"> Faculty Member</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> Academic<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['/academic/class-routine']"> Class Routine </a></li>
                                <li><a [routerLink]="['/academic/academic-event']"> Academic Events </a></li>
                                <li><a [routerLink]="['/academic/academic-calender']">Academic Calender 2016</a></li>
                                <li><a [routerLink]="['/academic/rules-and-regulations']">Rules & Regulations</a></li>
                                <li><a [routerLink]="['/academic/faculty-information']"> Faculty Informations </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> Exam Routine <span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['/exam-routine/half-early-exam']"> half-early exam </a></li>
                                <li><a [routerLink]="['/exam-routine/tutorial-exam']"> Tutorial Exam </a></li>
                                <li><a [routerLink]="['/exam-routine/final-exam']"> Final Exam </a></li>
                                <li><a [routerLink]="['/exam-routine/ssc-exam']"> SSC Exam </a></li>
                                <li><a [routerLink]="['/exam-routine/jsc-exam']"> JSC Exam </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> All Class E-Book <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=6" target="_blank">
                                        Six </a></li>
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=7"
                                        target="_blank">Seven</a></li>
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=8"
                                        target="_blank">Eight</a></li>
                                <li><a href="https://tanbircox.blogspot.com/2012/12/2013-text-pdf-books.html"
                                        target="_blank">Nine</a></li>
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=9"
                                        target="_blank">Ten</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> result<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['/result/half-early-exam']"> half-early exam </a></li>
                                <li><a [routerLink]="['/result/tutorial-exam']"> Tutorial Exam </a></li>
                                <li><a [routerLink]="['/result/final-exam']"> Final Exam </a></li>
                                <li><a [routerLink]="['/result/ssc-exam']"> SSC Exam </a></li>
                                <li><a [routerLink]="['/result/jsc-exam']"> JSC Exam </a></li>
                            </ul>
                        </li>
                        <li><a href="gallery.html"> Gallery </a></li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> Tution Fee<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a href="tution-fee.html"> Six </a></li>
                                <li><a href="tution-fee.html">Seven</a></li>
                                <li><a href="tution-fee.html">Eight</a></li>
                                <li><a href="tution-fee.html">Nine</a></li>
                                <li><a href="tution-fee.html">Ten</a></li>
                            </ul>
                        </li>
                        <li><a [routerLink]="['/contact']"> Contact </a></li>
                        <li><a [routerLink]="['/library']"> Library </a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </section>
</div>
<!-- Header-bar -->