<section class="faculty-info">
    <div class="container">
        <div class="half">
            <p><strong>Faculty Information</strong></p>
            <div class="tab">
                <input id="tab-one" type="checkbox" name="tabs">
                <label for="tab-one">Khoa học</label>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
                        perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
                        iure facere dolorum adipisci eum? Saepe, itaque.</p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-two" type="checkbox" name="tabs">
                <label for="tab-two">Nghiên cứu kinh doanh</label>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
                        perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
                        iure facere dolorum adipisci eum? Saepe, itaque.</p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-three" type="checkbox" name="tabs">
                <label for="tab-three">Nhân văn</label>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo
                        perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias
                        iure facere dolorum adipisci eum? Saepe, itaque.</p>
                </div>
            </div>
        </div>
    </div>
</section>
