<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3">
            <div class="top-link">
                <h3>{{ 'footer.topLink' | translate }}</h3>
                <hr>
                <p> <a href="#">{{ 'footer.committee' | translate }}</a></p>
                <p><a href="#">{{ 'footer.manpower' | translate }}</a></p>
                <p><a href="#">{{ 'footer.admissionInformation' | translate }}</a></p>
                <p><a href="#">{{ 'footer.admissionForm' | translate }}</a></p>
                <p><a href="#">{{ 'footer.classRoutine' | translate }}</a></p>
                <p> <a href="#">{{ 'footer.attendance' | translate }}</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="top-link">
                <h3>{{ 'footer.importantURL' | translate }}</h3>
                <hr>
                <p> <a href="#">{{ 'footer.board' | translate }}</a></p>
                <p><a href="#">{{ 'footer.boardResults' | translate }}</a></p>
                <p><a href="#">{{ 'footer.portal' | translate }}</a></p>
                <p><a href="#">NCTB</a></p>
                <p><a href="#">{{ 'footer.publicLibrary' | translate }}</a></p>
                <p> <a href="#">{{ 'footer.ebook' | translate }}</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="top-link">
                <h3>{{ 'footer.topLink' | translate }}</h3>
                <hr>
                <p> <a href="#">{{ 'footer.managementManual' | translate }}</a></p>
                <p><a href="#">{{ 'footer.scc' | translate }}</a></p>
                <p><a href="#">{{ 'footer.about' | translate }}</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="g-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d116834.13673771221!2d90.41932575!3d23.780636450000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1504590944306"
                    width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="foore-part text-center">
        <p><a href="#">@CopyRight by L.N.H.H.S</a></p>
    </section>
</div>
<!-- End of Footer -->