<!-- Header-bar -->
<div class="container">
    <section class="menu-nav">
        <nav class="navbar navbar-default navbar-change ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                            navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"> </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a [routerLink]="['../home']"> Trang chủ</a></li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thông tin<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['../about/about-us']">Thông tin trường</a></li>
                                <li><a [routerLink]="['../about/our-principal']"> Hiệu trưởng của chúng tôi</a></li>
                                <li><a [routerLink]="['../about/mission-and-vission']"> Sứ mệnh & Tầm nhìn </a></li>
                                <li><a [routerLink]="['../about/faculty-member']"> Thành viên khoa</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academic<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['../academic/class-routine']"> Quy trình lớp học </a></li>
                                <li><a [routerLink]="['../academic/academic-event']"> Sự kiện học tập </a></li>
                                <li><a [routerLink]="['../academic/academic-calender']">Lịch học 2022</a></li>
                                <li><a [routerLink]="['../academic/rules-and-regulations']">Nội quy & Quy định</a></li>
                                <li><a [routerLink]="['../academic/faculty-information']"> Thông tin Khoa </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quy trình kiểm tra<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['../exam-routine/half-early-exam']"> Thi giữa kỳ </a></li>
                                <li><a [routerLink]="['../exam-routine/tutorial-exam']"> Bài kiểm tra hướng dẫn </a></li>
                                <li><a [routerLink]="['../exam-routine/final-exam']"> Thi cuối kỳ </a></li>
                                <li><a [routerLink]="['../exam-routine/ssc-exam']"> Thi SSC </a></li>
                                <li><a [routerLink]="['../exam-routine/jsc-exam']"> Thi JSC </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Các lớp E-Book<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=6"> Lớp 6 </a></li>
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=7"> Lớp 7 </a></li>
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=8"> Lớp 8 </a></li>
                                <li><a href="https://tanbircox.blogspot.com/2012/12/2013-text-pdf-books.html"> Lớp 9 </a></li>
                                <li><a href="http://www.ebook.gov.bd/page.php?section=general&class=9"> Lớp 10 </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kết quả<span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a [routerLink]="['../result/half-early-exam']"> Thi giữa kỳ </a></li>
                                <li><a [routerLink]="['../result/tutorial-exam']"> Bài kiểm tra hướng dẫn </a></li>
                                <li><a [routerLink]="['../result/final-exam']"> Thi cuối kỳ </a></li>
                                <li><a [routerLink]="['../result/ssc-exam']"> Thi SS </a></li>
                                <li><a [routerLink]="['../result/jsc-exam']"> Thi JSC </a></li>
                            </ul>
                        </li>
                        <li><a href="gallery.html">Bộ sưu tập</a></li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Học phí <span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a href="tution-fee.html"> Lớp 6 </a></li>
                                <li><a href="tution-fee.html"> Lớp 7 </a></li>
                                <li><a href="tution-fee.html"> Lớp 8 </a></li>
                                <li><a href="tution-fee.html"> Lớp 9 </a></li>
                                <li><a href="tution-fee.html"> Lớp 10 </a></li>
                            </ul>
                        </li>
                        <li><a [routerLink]="['../contact']">Liên hệ</a></li>
                        <li><a [routerLink]="['../library']">Thư viện</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </section>
</div>
<!-- Header-bar -->